/* ------------------------------------- */
#box{
    width: 30vw;
    margin: 0 0 0 10vw;
    border: black 1px;
    text-align: center;
}

#topbox{
    height: 15vh;
    width: 30vw;
    background-color:#ececec;
}

#fr{
    padding: 1vh 1vw 1vh 1vw;
    margin: auto;
}

#sr{
    text-align: center;
    margin: 3vh;
}

#cont{
    background-color: white;
    width: 100%;
    height: 4vh;
    margin: auto;
    position: relative;
}

#min{
    color: blue;
    font-weight: 900;
    position: absolute;
    right: 2vw;
    font-size: 1.2em;
}

#precio{
    font-weight: 700;
    colo: red;
}

#count{
    text-align-last: center;
    width: 30%;
    position: relative;
    font-weight: 700;
    background-color: white;
    color: black;

}

#add{
    font-weight: 900;
    color: red;
    position: absolute;
    left: 2vw;
    font-size: 1.2em;
}

#carr{
    width: 28vw;
    margin-top: 0.5vh;
}