
#nabody{
    margin-left: 7vw;
}

#iconContainer{
    

}

#icon{
    position: relative;
    background-repeat: no-repeat; /* Do not repeat the image */
    /* min-height: 7vh;
    max-height: 8vh;    */
}

#note{
    font-weight: 600;
    color: red;
    position: relative;       
    top: -2vh;
    font-size: 0.8em;
}

.footer{
    margin-top: 4vh;
    padding: 1vh 10vw 1vh 10vw;
    height: 10%;
    background-color: lightgray;
    text-align: center;
    width: 110vw;
}

#col{
    /* width: 40%;
    padding: 2vh 2vw 2vh 2vw; */
}